$c-blue: #06F;
a {
   color: $c-blue;
}
button {
   background-color: $c-blue
}

nav {
  display: block;
  li {
     display: inline-block;
     position: relative
     a {
        display: block;
        padding: 5px;
        text-decoration: none;
     }
     ul {
        display: none;
        position: absolute;
        top: 100%;
     }
  }
}
