a {
  color: #06F;
}
button {
  background-color: #06F;
}

nav {
  display: block;
}
nav li {
  display: inline-block;
  position: relative
}
nav li a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
nav li ul {
  display: none;
  position: absolute;
  top: 100%;
}
